header {
    background-color: green;
    color: white;
}

.gl {
    background-color: blue;
    color: white;
}
.g2 {background-color:red;
        color: white;
}

#html{background-color: blueviolet;
    color:white
}