header, main, footer {
    margin-left: 10%;
    width: 80%;
    border: 1px solid blue;
    margin-top: 10px;
}

header {
    height: 
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
}

main {
    height: 70%;
}
footer > ul {

}

