main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    background-color: blue;
    color: white;
    padding: 5px 10px;
    border-radius: 10%;
    border: 0px;
}

button:hover {
    background-color: red;
    cursor: pointer;
}

