form {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    border: 1px dotted gainsboro;
}

.mdiv {
    width: 30%;
    height: 50px;
    margin-left: 30px;
    display: flex;
}


.mdiv > select {
    width: 10%;
    height: 30px;
}

.mdiv > input {
    width: 10%;
    height: 30px;
} 

[read-only] {
    background-color: beige;
}