form {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    border: 1px dotted gainsboro;
}

.mdiv {
    width : 35%;
    height: 50px;
    margin-left: 100px;
    display: flex;
}


.mdiv > select {
    width: 10%;
    height: 30px;
}

.mdiv > input {
    width: 10%;
    height: 30px;
} 

[read-only] {
    background-color: beige;
}

[for = txt1] {
    color: green;
}

[for = txt2] {
    color: blue;
}